@use "sass:math";

@import "base/mixins";
@import "base/vars";
@import "base/reset";
@import "base/global";

.todo {
    &__inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__title {
        text-align: center;
        font-size: 42px;
        margin-bottom: 30px;
    }

    &-form {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        &__input {
            background-color: transparent;
            border: 1px solid gold;
            color: white;
            border-radius: 10px;
            margin-right: 30px;
            width: 300px;
            padding: 10px 20px;
            font-size: 22px;
            letter-spacing: 0.03em;
            &::placeholder {
                color: white;
                opacity: .5;
                font-style: italic;
            }
            height: 140px;
        }

        &__btn {
            background-color: transparent;
            color: white;
            border: 1px solid gold;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin-right: 30px;
            height: 50px;
        }

        &__btn-group {
            display: flex;
        }

        &__filter-wrapper {
            position: relative;
            border: 1px solid gold;
            padding: 15px 15px;
            width: 200px;

            max-height: 50px;
            overflow: hidden;
            transition: max-height .3s ease-in-out;

            svg {
                width: 15px;
                height: 15px;
                position: absolute;
                right: 15px;
                top: 17px;
                cursor: pointer;
                transition: transform .3s ease-in-out;
            }
            svg path {
                fill: white;
            }

            &--active {
                max-height: 140px;
                overflow: auto;

                svg {
                    transform: rotate(180deg);
                }
            }
            &::-webkit-scrollbar {
                width: 0;
            }
        }

        &__filter-list {
            position: absolute;
            left: 15px;
            display: flex;
            flex-direction: column;
        }

        &__filter-item {
            font-size: 20px;
            cursor: pointer;
            width: fit-content;
            margin-bottom: 20px;
            &--active {
                pointer-events: none;
            }
        }
    }

    &-active__list {
        &--close {
            display: none;
        }
    }

    &__item {
        position: relative;
        border: 1px solid white;
        padding: 50px 120px;
        margin-bottom: 40px;
    }

    &__btn {
        position: absolute;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px;
        left: 20px;
        top: 24px;
        &:last-child {
            right: 20px;
            left: auto;
        }
    }

    &__text {
        font-size: 22px;
        letter-spacing: 0.05em;
        word-wrap: break-word;
        line-height: 130%;
    }
}

.todo-app__btn-complete-svg {
    width: 40px;
    height: 40px;
    path {
        fill: rgb(91, 207, 91);
    }
}

.todo-app__btn-delete-svg {
    width: 40px;
    height: 40px;
    path {
        fill: rgb(224, 92, 92);
    }
}

.todo-app__btn-restore-svg {
    width: 40px;
    height: 40px;
    path {
        fill:rgb(91, 207, 91);
    }
}

.todo-complete__list {
    display: none;
    .todo__item {
        border: 1px solid rgb(91, 207, 91);
        text-decoration: line-through;
    }
    &--active {
        display: block;
    }
}

.todo-delete__list {
    display: none;
    .todo__item {
        border: 1px solid rgb(224, 92, 92);
        color:rgb(224, 92, 92);
    }
    &--active {
        display: block;
    }
}